.pie {
    position:absolute;
    width:100px;
    height:200px;
    overflow:hidden;
    left:150px;    
    transform-origin:left center;
}

.pie.big {
    width:200px;
    height:200px;
    left:50px;   
    transform-origin:center center;
}

.pie:BEFORE {
    content:"";
    position:absolute;
    width:100px;
    height:200px;
    left:-100px;
    border-radius:100px 0 0 100px;    
    transform-origin:right center;    
}

.pie.big:BEFORE {
    left:0px;
}

.pie.big:AFTER {
    content:"";
    position:absolute;
    width:100px;
    height:200px;
    left:100px;
    border-radius:0 100px 100px 0;
}

.pie:nth-of-type(1):BEFORE,
.pie:nth-of-type(1):AFTER {
    background-color: #17a2b8 !important;	
}
.pie:nth-of-type(2):AFTER,
.pie:nth-of-type(2):BEFORE {
    background-color:green;	
}
.pie:nth-of-type(3):AFTER,
.pie:nth-of-type(3):BEFORE {
    background-color:red;	
}
.pie:nth-of-type(4):AFTER,
.pie:nth-of-type(4):BEFORE {
    background-color:orange;	
}

.pie:nth-of-type(5):AFTER,
.pie:nth-of-type(5):BEFORE {
    background-color:red;	
}

.pie:nth-of-type(6):AFTER,
.pie:nth-of-type(6):BEFORE {
    background-color:green;	
}

.pie[data-start="0"] {    
    transform:rotate(0deg);
}
.pie[data-start="60"] {    
    transform:rotate(60deg);
    
}
.pie[data-start="120"] {   
    transform:rotate(120deg);
}
.pie[data-start="180"] {   
    transform:rotate(120deg);
}
.pie[data-start="240"] {   
    transform:rotate(240deg);
}
.pie[data-start="320"] {   
    transform:rotate(320deg);
}
.pie[data-value="60"]:BEFORE {   
    transform:rotate(60deg);
}
.pie[data-value="120"]:BEFORE {   
    transform:rotate(120deg);
}
.pie[data-value="40"]:BEFORE {    
    transform:rotate(40deg);
}
.pie[data-value="240"]:BEFORE {     
    transform:rotate(240deg);
}